<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mon blog personnel">
	<meta name="author" content="Benoit Tellier">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link href="/styles/theme.css" rel="stylesheet">
	<link href="/styles/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body role="document">

    <!-- Fixed top navbar -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <li><img src="/images/blog.png"/></li>
	    <li class="active"><a href="/"><b>Home</b></a></li>
		  
		<%
		    for( var i=0; i< subjects.length; i++ ) {
		%>	
		    <li><a href="/topics/<%= i %>"><%= subjects[i] %></a></li>
		<%
		    }
		%>         
		
          </ul>
	  <ul class="nav navbar-nav" style="float:right;" >
	      <li> <a href="/projets" ><b>Mes projets</b></a></li>
	      <li class="active"><a href="/archives" ><b>Archives</b></a></li>
	      <li><a href="mailto:benwa@minet.net?Subject=[Benwa-blog]%20Your%20subject" ><b>Contact</b></a></li>
	      <li><a href="/cv" ><b>CV</b></a></li>
	  </ul>
        </div>
      </div>
    </div>

    

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	    
	    <span style="float:right;"><%= article.date.getDate() %>/
		<% 
		    if(article.date.getMonth() +1 < 10) {
		%>0<%}%><%= article.date.getMonth() +1 %>/
		<%= article.date.getFullYear() %></span>
	    
	    <h1> <%= article.title %></h1>
	    
	    <div id="resume">
		<b><%= article.summary %></b>
	    </div>
	    <br/>
	    <div id="content">
		<%- article.text %>
	    </div>
	    
	</div>

    
	<div class="page-header">
	    <h2>Commentaires</h2>
	</div>
	
	<% 
	    for( var i = 0; i< comments.length; i++ ) {
	%>
		<div class="page-header">
		    <span style="float:right;">Le <%= comments[i].date.getDate() %>/
		    <% 
		    if(comments[i].date.getMonth() +1 < 10) {
		    %>0<%}%><%= comments[i].date.getMonth() +1 %>/
		    <%= comments[i].date.getFullYear() %> par <b><%= comments[i].creator %></b></span>
		    <h4><%=comments[i].title%></h4>
		    <br/>
		    <div>
			<%= comments[i].text %>
		    </div>
		</div>
	<%
	    }
	%>
	
<form class="form-horizontal" role="form" action="/post_comment" method="post">
<legend>Laisser un commentaire</legend>
<div class="control-group">
  <div class="controls">
    <input id="titre" name="titre" size="35" placeholder="Titre" class="input-xlarge" type="text"/>
  </div>
</div>
<br/>
<div class="control-group">
  <div class="controls">
    <input id="creator" name="creator" size="35" placeholder="Vous êtes ?" class="input-xlarge" required="" type="text"/>    
  </div>
</div>
<br/>
<div class="control-group">
  <div class="controls">                     
    <textarea id="text" name="text" rows="4" cols="50">Votre commentaire ...</textarea>
  </div>
</div>
<br/>
<div class="control-group">
  <div class="controls">
<input type="submit" value="Envoyer" class="btn btn-success"/>
  </div>
</div>
<input type="hidden" name="article" value="<%= article.id %>" />

</form>

	
    </div>

    </body>
</html>

