<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mon blog personnel">
	<meta name="author" content="Benoit Tellier">
<!--	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<link href="/styles/theme.css" rel="stylesheet">
	<link href="/styles/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body role="document">

    <!-- Fixed top navbar -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <li><img src="/images/blog.png"/></li>
	    <li class="active"><a href="/"><b>Home</b></a></li>
		  
		<%
		    for( var i=0; i< subjects.length; i++ ) {
		%>	
		    <li><a href="/topics/<%= i %>"><%= subjects[i] %></a></li>
		<%
		    }
		%>         
		
          </ul>
	  <ul class="nav navbar-nav" style="float:right;" >
	      <li> <a href="/projets" ><b>Mes projets</b></a></li>
	      <li class="active"><a href="/archives" ><b>Archives</b></a></li>
	      <li><a href="mailto:benwa@minet.net?Subject=[Benwa-blog]%20Your%20subject" ><b>Contact</b></a></li>
	      <li><a href="/cv" ><b>CV</b></a></li>
	  </ul>
        </div>
      </div>
    </div>

    <div class="container theme-showcase" role="main">
    
      <!-- Barre de navigation pour l'administration -->
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/admin"><b>Édition d'articles</b></a></li>
	      <li><a href="/admin/projet_ed"><b>Édition de projets</b></a></li>
	      <li><a href="/admin/projet_mgt"><b>Management de projets</b></a></li>
	      <li><a href="/admin/comment_mgt"><b>(<%= waiting_comments %>) commentaires</b></a></li>
	      <li><a href="/admin/Users"><b>Utilisateurs</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    
	<div class="jumbotron">
		<form class="form-horizontal" role="form" action="/post_new_article" method="post">
		    <legend>Création d'articles</legend>
		    <div class="control-group">
			<div class="controls">
			    <input id="title" name="title" size="35" placeholder="Titre" class="input-xlarge" type="text"/>
			</div>
		    </div>
		    <br/>
		    Thème : 
		    <select name="theme">
			<%
			    for( var i = 0; i < subjects.length; i++ ) {
			%>
			    <option value="<%= i %>"><%= subjects[i] %></option>
			<%
			    }
			%>
		    </select> 
		    <br/>
		    <br/>
		    <div class="control-group">
			<div class="controls">
			    <input id="summary" name="summary" size="100" placeholder="Un résumé de votre article" class="input-xlarge" required="" type="text"/>    
			</div>
		    </div>
		    <br/>
		    <div class="control-group">
			<div class="controls">                     
			    <textarea id="text" name="text" rows="50" cols="100" onclick="empty('text')">Le corps de votre article</textarea>
			</div>
		    </div>	    
		    <br/>
		    <div class="control-group">
			<div class="controls">
			    <input type="submit" value="Envoyer" class="btn btn-success"/>
			</div>
		    </div>
		</form>
	</div>
    </div>
    <script src="/scripts/empty_text_area.js"></script>
    </body>
</html>