<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
    
      <% include admin_navbar.ejs  %>
    
	<div class="jumbotron">
	    <%
		for( var i = 0; i < comments.length ; i++ ) {
	    %>
		<h2> <%= comments[i].title %> </h2>
		By <%= comments[i].creator %>  <b>Content : </b><br/>
		<%= comments[i].text %> <br/>
		<form class="form-horizontal" role="form" action="/post_accept_comment/<%= comments[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    <input type="submit" value="Accepter" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
		<form class="form-horizontal" role="form" action="/post_delete_comment/<%= comments[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    <input type="submit" value=" Refuser&nbsp; " class="btn btn-sm btn-danger"/>
			</div>
		    </div>
		</form>
	    <%
		}
	    %>
	</div>
    </div>
    <script src="/scripts/empty_text_area.js"></script>
    </body>
</html>
