<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	
	    <%
		for( var i = 0; i <  articles.length; i++ ) {
	    %>
	    <div class="well">
		<span style="float:right;"><%= articles[i].date.getDate() %>/
		<% 
		    if(articles[i].date.getMonth() +1 < 10) {
		%>0<%}%><%= articles[i].date.getMonth() +1 %>/
		<%= articles[i].date.getFullYear() %></span>
		<h2> <a href="/article/<%= articles[i].id %>"><%= articles[i].title %></a></h2>
		<div id="resume">
		    <b><%= articles[i].summary %></b>
		</div>
		<br/>
		<div id="content">
		    <%
			var text = articles[i].text;
			var nrw = 150;                // the number of words we want to extract
			var rgxwords = new RegExp('([^ ]*[ ]{0,1}){1,'+nrw+'}', 'g');      // regexp for specified number of spaces
			var txt = text.match(rgxwords)[0];         // get the substring with "nrw" number of words
		    %>
		    <%- markdown.toHTML( txt + ' ... ... ...\n\n [Lire la suite de cet article](/article/'+ articles[i].id +")" )
		    %>
		</div>
	    </div>
	    <%
		}
	    %>
	</div>
    </div>


    </body>
</html>

