<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mon blog personnel">
	<meta name="author" content="Benoit Tellier">
<!--	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<link href="/styles/theme.css" rel="stylesheet">
	<link href="/styles/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body role="document">

    <!-- Fixed top navbar -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <li><img src="/images/blog.png"/></li>
	    <li class="active"><a href="/"><b>Home</b></a></li>
		  
		<%
		    for( var i=0; i< subjects.length; i++ ) {
		%>	
		    <li><a href="/topics/<%= i %>"><%= subjects[i] %></a></li>
		<%
		    }
		%>         
		
          </ul>
	  <ul class="nav navbar-nav" style="float:right;" >
	      <li> <a href="/projets" ><b>Mes projets</b></a></li>
	      <li class="active"><a href="/archives" ><b>Archives</b></a></li>
	      <li><a href="mailto:benwa@minet.net?Subject=[Benwa-blog]%20Your%20subject" ><b>Contact</b></a></li>
	      <li><a href="/cv" ><b>CV</b></a></li>
	  </ul>
        </div>
      </div>
    </div>

    

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	    
	   <%
		for( var i = 0; i < projets.length; i++ ) {
	   %>
	    <div class="well">
	    
		<div style="float:right;">
		    <br/>
		    <pre><code> git clone <%= projets[i].git_clone %></code></pre>
		    <span>
		    Début du projet : <%= projets[i].begin.getDate() %>/ <% 
			if(projets[i].begin.getMonth() +1 < 10) {
		    %>0<%}%><%= projets[i].begin.getMonth() +1 %>/
		    <%= projets[i].begin.getFullYear() %>
		    </span>
		    <%
			if( projets[i].ended == "1" ) {
		    %>
			    <span>
				<br/>
				Fin du projet : <%= projets[i].end.getDate() %>/ <% 
				    if(projets[i].end.getMonth() +1 < 10) {
				%>0<%}%><%= projets[i].end.getMonth() +1 %>/
				<%= projets[i].end.getFullYear() %>
			    </span>
		    <%
			}
		    %>
		</div>
		
		<h2> <a href="/projets/<%= projets[i].id%>"> <%= projets[i].name%> </a></h2>
		<p>
		  <b>
		    <%= projets[i].summary%>
		  </b>
		</p>
		<br/>
		<div class="progress">
		    <%
			var myClass = " progress-bar-success";
			if( projets[i].etat == 0 ) {
			    myClass = " progress-bar-success";
			} else {
			    if( projets[i].etat == 1 ) {
				myClass = " progress-bar-warning";
			    } else {
				if( projets[i].etat == 2 ) {
				    myClass = " progress-bar-danger";
				} else {
				    myClass = " progress-bar-info";
				}
			    }
			}
		    %>
		    <div class="progress-bar<%= myClass %>" role="progressbar" aria-valuenow="<%= projets[i].progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= projets[i].progress %>%;"><span class="sr-only">60% Complete</span></div>
		</div>
	    </div>
	    <%
		}
	    %>
	    
	</div>
    </div>

    </body>
</html>

