<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mon blog personnel">
	<meta name="author" content="Benoit Tellier">
<!--	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<link href="/styles/theme.css" rel="stylesheet">
	<link href="/styles/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body role="document">

    <!-- Fixed top navbar -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <li><img src="/images/blog.png"/></li>
	    <li class="active"><a href="/"><b>Home</b></a></li>
		  
		<%
		    for( var i=0; i< subjects.length; i++ ) {
		%>	
		    <li><a href="/topics/<%= i %>"><%= subjects[i] %></a></li>
		<%
		    }
		%>         
		
          </ul>
	  <ul class="nav navbar-nav" style="float:right;" >
	      <li> <a href="/projets" ><b>Mes projets</b></a></li>
	      <li class="active"><a href="/archives" ><b>Archives</b></a></li>
	      <li><a href="mailto:benwa@minet.net?Subject=[Benwa-blog]%20Your%20subject" ><b>Contact</b></a></li>
	      <li><a href="/cv" ><b>CV</b></a></li>
	  </ul>
        </div>
      </div>
    </div>

    <div class="container theme-showcase" role="main">
    
      <!-- Barre de navigation pour l'administration -->
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/admin"><b>Édition d'articles</b></a></li>
	      <li><a href="/admin/projet_ed"><b>Édition de projets</b></a></li>
	      <li><a href="/admin/projet_mgt"><b>Management de projets</b></a></li>
	      <li><a href="/admin/comment_mgt"><b>(<%= waiting_comments %>) commentaires</b></a></li>
	      <li><a href="/admin/Users"><b>Utilisateurs</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    
	<div class="jumbotron">
	    <%
		for( var i = 0; i < projets.length ; i++ ) {
	    %>
		<h2> <%= projets[i].name %> </h2>
		<form class="form-horizontal" role="form" action="/post_update_avancement/<%= projets[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    Modifier l'avancement : <input id="progress" name="progress" size="10" value="<%= projets[i].progress %>" class="input-xlarge" type="text"/>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <input type="submit" value="Envoyer" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
		<form class="form-horizontal" role="form" action="/post_update_ended/<%= projets[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    Le projet est il finit ? 
			    <input type="radio" name="ended" value="0" <% if( ! projets[i].ended ) { %> checked="checked" <%}%> >En cours
			    <input type="radio" name="ended" value="1" <% if( projets[i].ended ) { %> checked="checked" <%}%> >Finit
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <input type="submit" value="Envoyer" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
		<form class="form-horizontal" role="form" action="/post_update_etat/<%= projets[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    Avancement du projet : 
			    <input type="radio" name="etat" value="0" <% if( projets[i].etat == 0 ) { %> checked="checked" <%}%> >On y est 
			    <input type="radio" name="etat" value="1" <% if( projets[i].etat == 1 ) { %> checked="checked" <%}%> >Pause
			    <input type="radio" name="etat" value="2" <% if( projets[i].etat == 2 ) { %> checked="checked" <%}%> >Oublié
			    <input type="radio" name="etat" value="3" <% if( projets[i].etat == 3 ) { %> checked="checked" <%}%> >Finis
			    &nbsp;&nbsp;&nbsp;<input type="submit" value="Envoyer" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
	    <%
		}
	    %>
	</div>
    </div>
    <script src="/scripts/empty_text_area.js"></script>
    </body>
</html>