<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	    
	   <%
		for( var i = 0; i < projets.length; i++ ) {
	   %>
	    <div class="well">
	    
		<div style="float:right;">
		    <br/>
		    <pre><code> git clone <%= projets[i].git_clone %></code></pre>
		    <div style="text-align:right">
			<span>
		    Début du projet : <%= projets[i].begin.getDate() %>/ <% 
			if(projets[i].begin.getMonth() +1 < 10) {
		    %>0<%}%><%= projets[i].begin.getMonth() +1 %>/
		    <%= projets[i].begin.getFullYear() %>
		    </span>
		    <%
			if( projets[i].ended == "1" ) {
		    %>
			    <span>
				<br/>
				Fin du projet : <%= projets[i].end.getDate() %>/ <% 
				    if(projets[i].end.getMonth() +1 < 10) {
				%>0<%}%><%= projets[i].end.getMonth() +1 %>/
				<%= projets[i].end.getFullYear() %>
			    </span>
		    <%
			}
		    %>
		    </div>
		</div>
		
		<h2> <a href="/projets/<%= projets[i].id%>"> <%= projets[i].name%> </a></h2>
		<p>
		  <b>
		    <%= projets[i].summary%>
		  </b>
		</p>
		<br/>
		<br/>
		<div class="progress">
		    <%
			var myClass = " progress-bar-success";
			if( projets[i].etat == 0 ) {
			    myClass = " progress-bar-success";
			} else {
			    if( projets[i].etat == 1 ) {
				myClass = " progress-bar-warning";
			    } else {
				if( projets[i].etat == 2 ) {
				    myClass = " progress-bar-danger";
				} else {
				    myClass = " progress-bar-info";
				}
			    }
			}
		    %>
		    <div class="progress-bar<%= myClass %>" role="progressbar" aria-valuenow="<%= projets[i].progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= projets[i].progress %>%;"><span class="sr-only">60% Complete</span></div>
		</div>
	    </div>
	    <%
		}
	    %>
	    
	</div>
    </div>

    </body>
</html>

