<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div style="float:right;">
		    <br/>
		    <pre><code> git clone <%= projet.git_clone %></code></pre>
		    <div  style="text-align:right">
		    <span>
		    Début du projet : <%= projet.begin.getDate() %>/ <% 
			if(projet.begin.getMonth() +1 < 10) {
		    %>0<%}%><%= projet.begin.getMonth() +1 %>/
		    <%= projet.begin.getFullYear() %>
		    </span>
		    <%
			if( projet.ended == "1" ) {
		    %>
			    <span>
				<br/>
				Fin du projet : <%= projet.end.getDate() %>/ <% 
				    if(projet.end.getMonth() +1 < 10) {
				%>0<%}%><%= projet.end.getMonth() +1 %>/
				<%= projet.end.getFullYear() %>
			    </span>
		    <%
			}
		    %>
		    </div>
		</div>
		
		<h1><u><b><%= projet.name%></b></u></h1>
		<p>
		  <b>
		    <%= projet.summary%>
		  </b>
		</p>
		<br/>
		<div class="progress">
		    <%
			var myClass = " progress-bar-success";
			if( projet.etat == 0 ) {
			    myClass = " progress-bar-success";
			} else {
			    if( projet.etat == 1 ) {
				myClass = " progress-bar-warning";
			    } else {
				if( projet.etat == 2 ) {
				    myClass = " progress-bar-danger";
				} else {
				    myClass = " progress-bar-info";
				}
			    }
			}
		    %>
		    <div class="progress-bar<%= myClass %>" role="progressbar" aria-valuenow="<%= projet.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= projet.progress %>%;"><span class="sr-only">60% Complete</span></div>
		</div>
		<br/>
		<div>
		    <%- markdown.toHTML(projet.details) %>
		</div>
	</div>
	<div>
	    <%
		var first = true;
		for( var i = 0; i < notifs.length; i++ ) {
		    if( first ) {
			first = false;
	    %>
			<h2>Notifications</h2>
	    <%
		    }
	    %>
		<div class="alert alert-info">
		    <%= notifs[i].date.getDate() %>/ <% 
			if(notifs[i].date.getMonth() +1 < 10) {
		    %>0<%}%><%= notifs[i].date.getMonth() +1 %>/
		    <%= notifs[i].date.getFullYear() %>
		    <%
			if( notifs[i].type == 0 ) {
		    %>
		    Nouveau commentaire :
		    <%
			} else {
			    if( notifs[i].type == 1 ) {
		    %>
		    Modification de l'avancement du projet : 
		    <%
			    } else {
		    %>
		    Modification de l'état du projet :
		    <%
			    }
			}
		    %>
		    <%= notifs[i].text %>
		</div>
	    <%
		}
	    %>
	</div>
    </div>
    <script type="text/javascript" src="/scripts/coloration.js"></script>
    </body>
</html>
