<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
    
      <% include admin_navbar.ejs  %>
    
	<div class="jumbotron">
	    <%
		for( var i = 0; i < projets.length ; i++ ) {
	    %>
	    <div>
		<h2> <%= projets[i].name %> </h2>
		<form class="form-horizontal" role="form" action="/post_update_avancement/<%= projets[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    Modifier l'avancement : <input id="progress" name="progress" size="10" value="<%= projets[i].progress %>" class="input-xlarge" type="text"/>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <input type="submit" value="Envoyer" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
		<form class="form-horizontal" role="form" action="/post_update_ended/<%= projets[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    Le projet est il finit ? 
			    <input type="radio" name="ended" value="0" <% if( ! projets[i].ended ) { %> checked="checked" <%}%> >En cours
			    <input type="radio" name="ended" value="1" <% if( projets[i].ended ) { %> checked="checked" <%}%> >Finit
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <input type="submit" value="Envoyer" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
		<form class="form-horizontal" role="form" action="/post_update_etat/<%= projets[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    Avancement du projet : 
			    <input type="radio" name="etat" value="0" <% if( projets[i].etat == 0 ) { %> checked="checked" <%}%> >On y est 
			    <input type="radio" name="etat" value="1" <% if( projets[i].etat == 1 ) { %> checked="checked" <%}%> >Pause
			    <input type="radio" name="etat" value="2" <% if( projets[i].etat == 2 ) { %> checked="checked" <%}%> >Oublié
			    <input type="radio" name="etat" value="3" <% if( projets[i].etat == 3 ) { %> checked="checked" <%}%> >Finis
			    &nbsp;&nbsp;&nbsp;<input type="submit" value="Envoyer" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
		<form class="form-horizontal" role="form" action="/post_new_notification/<%= projets[i].id %>" method="post">
		    <div class="control-group">
			<div class="controls">
			    Nouvelle notification : 
			    <input type="text" name="notification" size="30" class="input-xlarge" placeholder="Votre nouvelle notification..." >
			    &nbsp;&nbsp;&nbsp;<input type="submit" value="Envoyer" class="btn btn-sm btn-success"/>
			</div>
		    </div>
		</form>
		<div>
		    <a href="/admin/projet_mgt/<%=projets[i].id%>"> Édition des détails du projet </a>
		</div>
	    </div>
	    <%
		}
	    %>
	</div>
    </div>
    <script src="/scripts/empty_text_area.js"></script>
    </body>
</html>
